<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200587397991-d6ngskdkt68lo6jkc2kp7kh53vmhdiqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200587397991-d6ngskdkt68lo6jkc2kp7kh53vmhdiqs</string>
	<key>API_KEY</key>
	<string>AIzaSyBG9kL_fzw07rFnjcppo0Sc9L9hJGzU5yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>200587397991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastianstrus.Polacy-w-Szwecji</string>
	<key>PROJECT_ID</key>
	<string>polacywszwecji-aee3f</string>
	<key>STORAGE_BUCKET</key>
	<string>polacywszwecji-aee3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200587397991:ios:b8a1f14c303e47a7</string>
	<key>DATABASE_URL</key>
	<string>https://polacywszwecji-aee3f.firebaseio.com</string>
</dict>
</plist>